@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Italic.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  /* color  */
  --colorText: #fff;
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* backgound  */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0d263b;
}
.subTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0d263b;
}

.describleText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.center {
  text-align: center;
}

.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

.ant-dropdown-menu-item {
  padding: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-carousel .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ant-carousel .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
}

.inline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* SLICK CAROUSEL ARROWS STYLE */
.slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e6e9ec;
  box-shadow: 0px 10px 50px rgba(13, 38, 59, 0.1);
  left: -53px;
}

.slick-next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e6e9ec;
  box-shadow: 0px 10px 50px rgba(13, 38, 59, 0.1);
  right: -53px;
}

.slick-prev:before,
.slick-next:before {
  content: url("./assets/icons/arrowcrl.svg");
  color: black;
  line-height: 0.3;
  width: 10px;
  height: 5px;
  transform: rotate(45deg);
  vertical-align: top;
}

.slick-next:before {
  content: url("./assets/icons/arrowcrlr.svg");
}

.ant-carousel .slick-dots li button:before {
  content: "";
}

.ant-carousel .slick-dots-bottom {
  bottom: 30px;
}

.slick-slider .slick-dots li button:before {
  color: #0061df;
  font-size: 10px;

  /* opacity: 1; */
}

h1.slick-dots button:before {
  width: 17px;
  height: 17px;
  line-height: 1.7;
}

.slick-dots {
  bottom: -45px;
}

h1 .slick-active button:before {
  border: 3px solid #0061df;
  border-radius: 50%;
  color: #fff !important;
}

.slick-dots li button:before {
  opacity: 1;
}

/* ANT DESIGN SELECT COMPONENT */
.ant-select-selector {
  font-weight: 400 !important;
  color: #757575 !important;
  height: 44px !important;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 2px !important;
  box-shadow: none;
  padding: 0 16px !important;
}
.ant-select-selector::active,
.ant-select-selector::focus,
.ant-select-selector::target {
  box-shadow: none !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  line-height: 43px !important;
}
